@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lemon', serif;
}
body {
    background: black;
    min-height: 100vh;
}
body.transition {
    transition: background 1s;
}
/* nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: white;
}
/* navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
}
.navbar li:first-child {
    margin-right: auto;
}
/*style navbar li firstchild*/
.waviy {
    display: flex;
    align-items: center;
    position: relative;
}
  
.waviy span {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.3s * var(--i));
}
  
@keyframes flip {
    0%, 80% {
      transform: rotateY(360deg);
    }
}

.navbar li:nth-of-type(6){
    display: none;
}
.navbar li a {
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.navbar li a:active {
    background: grey;
}
/*sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    max-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: black;
    gap: 30px;
    opacity: 0;
    z-index: 998;
    overflow: hidden;
    transition: opacity 1s, max-height 0.5s;
}
.sidebar.show {
    opacity: 1;
    height: 100vh;
}
.sidebar li {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebar li a {
    width: 20%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    color: white;
}
.sidebar li a:active {
    background: grey;
}
.sidebar li a svg {
    fill: white;
}
/* container */
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 230px 0;
}
.Home {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 230px;
    gap: 10%;
}
.heroimg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: moveUpDown 2s infinite alternate;
}
@keyframes moveUpDown {
0% {
    transform: translateY(15px);
}
100% {
    transform: translateY(0);
}
}
.info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    gap: 10px;
}
.info1 h1 {
    color: white;
    transition: color 2s;
}
.info2 {
    display: flex;
    margin: 10px 0;
    gap: 25px;
}
.info2 a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info2 a img {
    width: 50px;
    height: 50px;
}
.info2 a img:active {
    background: grey;
}
/*about*/
.about {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 100px;
    background: #090f19;
}
.border {
    border: 1px solid white;
    width: 90%;
    margin-bottom: 20px;
}
.border2 {
    border: 1px solid white;
    width: 90%;
    margin-top: 100px;
}
.border3 {
    border: 1px solid white;
    width: 95%;
    margin-top: 100px;
}
.about h1 {
    color: white;
    font-size: 40px;
}
.aboutimg {
    width: 250px;
    height: 250px;
    border-radius: 20%;
}
.about-section {
    display: flex;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
    gap: 30%;
}
.about1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}
.about2-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
}
.about2-info:hover {
    background: grey;
}
.about2.info img {
    width: 50px;
    height: 50px;
}
.about2-info1 {
    color: white;
    width: 480px;
}
.about .text-scramble {
    margin-top: 30px;
    text-align: center;
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
}

.about .text-scramble .text {
    font-weight: 100;
    font-size: 28px;
    color: white;
    display: inline-block;
}

.about .text-scramble .dud {
    color: #757575;
}

/*experience*/
.experience {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 100px;
}
.experience h1 {
    color: white;
    font-size: 40px;
}
.experience-section  {
    margin: 10% 0;
}
.experience-section a {
    cursor: pointer;
}
.experience-section a img {
    border: 1px solid white;
    margin: 30px;
    padding: 20px;
    border-radius: 40%;
}
.experience-section a img:hover {
    background: gray;
}
/*lightmode*/
.lightmode {
    background: white;
}
.lightmode nav {
    background: black;
}
.lightmode nav .navbar li a {
    color: white;
}
.lightmode nav .navbar li a svg {
    fill: white;
}
.lightmode nav .sidebar {
    background: white;
}
.lightmode nav .sidebar li a {
    color: black;
}
.lightmode nav .sidebar li a svg {
    fill: black;
}
.lightmode .info1 h1 {
    color: black;
}
.lightmode .info2  a {
    background: black;
}
.lightmode .border {
    border: 1px solid #5fbcff;
}

.lightmode .border2 {
    border: 1px solid #5fbcff;
}
.lightmode .border3 {
    border: 1px solid #5fbcff;
}
.lightmode .waviy span {
    color: white;
}
@media screen and (max-width: 1200px){
    .navbar li a {
        padding: 0 30px;
    }
}
@media screen and (max-width: 1110px){
    .about-section {
        gap: 15%;
    }
}
@media screen and (max-width: 980px){
    .about {
        padding-top: 65px;
    }
    .about-section {
        flex-direction: column;
        gap: 100px;
    }
}
@media screen and (max-width: 930px){
    .container {
        margin: 150px 0;
    }
    .Home {
        flex-direction: column;
        align-items: center;
    }
    .Home img {
        width: 230px;
        height: 230px;
    }
    .info1 {
        margin: 10% 0;
    }
    .info1 h1 {
        font-size: 23px;
    }
    .info2 a img {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 800px){
    .navbar .hidenavbar {
        display: none;
    }   
    .navbar li:nth-of-type(6){
        display: flex;
        width: 40%;
    }
    .navbar li:first-child {
        width: 30%;
    }
    .navbar li:last-child {
        width: 30%;
    }
    .navbar li a {
        width: 100%;
    }
}
@media screen and (max-width: 660px){
    .waviy span {
        font-size: 20px;
    }
    .about h1 {
        font-size: 25px;
    }
    .about2-info img {
        width: 40px;
        height: 40px;
    }
    .about2-info1 h3{
        font-size: 16px;
    }
    .about2-info1 {
        width: 300px;
    }
    .about .text-scramble {
        height: 50px;
    }
    .about .text-scramble .text {
        font-size: 20px;
    }
}
@media screen and (max-width: 450px) {
    .waviy span {
        font-size: 16px;
    }
}